#stats {
  position: fixed;
  top: 1rem; left: 50%;
  transform: translateX(-50%);
  display: flex; gap: 1rem;
  background: rgba(0,0,0,.35);
  color: #fff;
  padding: .4rem .6rem;
  border-radius: .3rem;
  z-index: 5;
}
#stats b { min-width: 2.5ch; display: inline-block; text-align: right; }